<template>
  <v-app>
    <v-main>
      <v-container fill-height fluid>
        <v-overlay :value="loading">
          <v-progress-circular
            :size="70"
            :width="7"
            color="purple"
            indeterminate
          ></v-progress-circular>
        </v-overlay>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import liff from "@line/liff";
import CustomerService from "@/services/customer";
import { appSetting } from "@/setup";

export default {
  name: "Liff-Login",
  components: {},
  data: () => ({
    loading: true,
  }),
  async created() {
    try {
      await liff.init({ liffId: appSetting.liffAppId });

      if (!liff.isInClient() && this.$isMobile()) {
        let redirectUri = "";

        if (this.$route.query.emplId) {
          redirectUri = `line://app/${appSetting.liffAppId}?emplId=${this.$route.query.emplId}`;
        } else {
          redirectUri = `line://app/${appSetting.liffAppId}`;
        }

        window.location = redirectUri;
        this.loading = false;
      } else if (!liff.isLoggedIn()) {
        let redirectUri = "";

        if (this.$route.query.emplId) {
          redirectUri = `${location.origin}?emplId=${this.$route.query.emplId}`;
        }

        if (redirectUri.length > 0) {
          liff.login({
            redirectUri,
          });
        } else {
          liff.login();
        }
      } else {
        const friendship = await liff.getFriendship();
        const liffToken = await liff.getAccessToken();

        if (this.$route.query.emplId) {
          if (friendship.friendFlag) {
            await CustomerService.AddFriendWithStaff({
              token: liffToken,
              staffId: this.$route.query.emplId,
            });
          }
          window.location = `https://line.me/R/ti/p/${encodeURIComponent(
            appSetting.lineOfficialId
          )}`;
          // liff.closeWindow();
        } else {
          await this.$store.dispatch("auth/lineAuth", liffToken);
          await this.$store.dispatch("auth/setRefreshTokenInterval");
          this.$router.push({ name: "ReferenceHistory" });
        }
      }
    } catch (err) {
      this.$router.push({ name: "403" });
    }
  },
};
</script>
