<template>
  <v-container>
    <v-dialog v-model="hasWarnning" persistent width="500">
      <v-card>
        <v-card-title class="headline grey lighten-2">
          แจ้งเตือน
        </v-card-title>

        <v-card-text>
          {{ warnningMessage }}
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            text
            :loading="loading"
            :disabled="loading"
            @click="hasWarnning = false"
          >
            ปิด
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="addEditDialog" persistent width="500">
      <v-card>
        <v-card-title class="headline grey lighten-2">
          {{ addEditHeadText }}
        </v-card-title>

        <v-card-text class="pt-6">
          <v-text-field
            v-model="addEditEmployee.firstName"
            label="ชื่อ"
            outlined
            :loading="loading"
            :disabled="loading"
          ></v-text-field>

          <v-text-field
            v-model="addEditEmployee.lastName"
            label="นามสกุล"
            outlined
            :loading="loading"
            :disabled="loading"
          ></v-text-field>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-btn
            color="primary"
            text
            :loading="loading"
            :disabled="loading"
            @click="SaveEmployee()"
          >
            บันทึก
          </v-btn>
          <v-spacer />
          <v-btn
            color="error"
            text
            :loading="loading"
            :disabled="loading"
            @click="CloseAddEditDialog()"
          >
            ปิด
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="qrCodeDialog" persistent width="500">
      <v-card>
        <v-card-title class="headline grey lighten-2">
          {{ QRCodeHeadText }}
        </v-card-title>

        <v-card-text class="d-flex justify-center">
          <v-img
            class="mt-4"
            max-height="250"
            max-width="250"
            :src="employeeQRCode"
          ></v-img>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer />
          <v-btn
            color="error"
            text
            :loading="loading"
            :disabled="loading"
            @click="CloseQRCodeDialog()"
          >
            ปิด
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="inActiveConfirmDialog" persistent width="500">
      <v-card>
        <v-card-title class="headline grey lighten-2">
          ยืนยันการลบข้อมูล
        </v-card-title>

        <v-card-text class="pt-4">
          {{ inActiveConfirmText }}
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-btn
            color="success"
            text
            :loading="loading"
            :disabled="loading"
            @click="InActiveEmployee()"
          >
            ยืนยัน
          </v-btn>
          <v-spacer />
          <v-btn
            color="error"
            text
            :loading="loading"
            :disabled="loading"
            @click="CloseInActiveConfirmDialog()"
          >
            ยกเลิก
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-card>
      <v-toolbar flat>
        <v-toolbar-title>รายชื่อพนักงาน</v-toolbar-title>

        <v-spacer></v-spacer>
      </v-toolbar>
      <v-card-text>
        <v-row>
          <v-col cols="12">
            <v-btn
              color="primary"
              :loading="loading"
              :disabled="loading"
              @click="OpenDialogAddEditDialog('add', {})"
            >
              เพิ่มชื่อพนักงาน
            </v-btn>
          </v-col>
        </v-row>
        <v-simple-table class="mt-2">
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-center" style="min-width: 95px;">
                  Frist Name
                </th>
                <th class="text-center" style="min-width: 95px;">
                  Last Name
                </th>
                <th class="text-center">
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in employee" :key="item.id">
                <td>{{ item.firstName }}</td>
                <td>{{ item.lastName }}</td>
                <td
                  class="d-flex justify-center"
                  style="padding-top: 4px !important;"
                >
                  <v-btn
                    small
                    color="error"
                    class="d-none d-sm-flex"
                    :loading="loading"
                    :disabled="loading"
                    @click="OpenInActiveConfirmDialog(item)"
                  >
                    ลบ
                  </v-btn>
                  <v-btn
                    small
                    color="error"
                    class="d-flex d-sm-none"
                    :loading="loading"
                    :disabled="loading"
                    @click="OpenInActiveConfirmDialog(item)"
                  >
                    <v-icon>mdi-delete</v-icon>
                  </v-btn>
                  <v-btn
                    small
                    class="ml-2 d-none d-sm-flex"
                    color="primary"
                    :loading="loading"
                    :disabled="loading"
                    @click="OpenQRCodeDialog(item)"
                  >
                    QR Code
                  </v-btn>
                  <v-btn
                    small
                    class="ml-2 d-flex d-sm-none"
                    color="primary"
                    :loading="loading"
                    :disabled="loading"
                    @click="OpenQRCodeDialog(item)"
                  >
                    <v-icon>mdi-qrcode-scan</v-icon>
                  </v-btn>
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<style scoped>
.v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
.v-data-table > .v-data-table__wrapper > table > tfoot > tr > td,
.v-data-table > .v-data-table__wrapper > table > thead > tr > td {
  font-size: 0.775rem;
  height: 38px;
}
</style>

<script>
import QRCode from "qrcode";
import EmployeeService from "@/services/employee";
import { appSetting } from "@/setup";

export default {
  name: "ManageEmployee",
  data: () => ({
    componentKey: 0,
    hasWarnning: false,
    warnningMessage: "",
    employee: [],
    addEditDialog: false,
    addEditHeadText: "",
    addEditEmployee: {},
    employeeQRCode: "",
    qrCodeDialog: false,
    QRCodeHeadText: "",
    inActiveConfirmDialog: false,
    inActiveConfirmText: "",
    liffURL: "https://liff.line.me",
  }),
  computed: {
    loading() {
      return this.$store.state.globalLoading;
    },
  },
  methods: {
    async ErrorHandle(mainProcess) {
      this.$store.dispatch("ApplicationIsLoading", true);
      try {
        await mainProcess();
      } catch (err) {
        let resMessage = err.response.data;
        this.warnningMessage = resMessage;
        this.hasWarnning = true;
        this.$store.dispatch("ApplicationIsLoading", false);
      }
    },
    ResetAddEditEmployee() {
      this.addEditEmployee = {
        id: "",
        firstName: "",
        lastName: "",
      };
    },
    OpenDialogAddEditDialog(mode, employee) {
      switch (mode) {
        case "add":
          this.addEditHeadText = "เพิ่มชื่อพนักงานใหม่";
          break;
        case "edit":
          this.addEditEmployee = employee;
          this.addEditHeadText = "แก้ไขชื่อพนักงาน";
          break;
        default:
          this.addEditHeadText = "";
      }

      this.addEditDialog = true;
    },
    CloseAddEditDialog() {
      this.addEditDialog = false;
      this.ResetAddEditEmployee();
    },
    async OpenQRCodeDialog(employee) {
      await this.ErrorHandle(async () => {
        const liffState = encodeURIComponent(`?emplId=${employee.id}`);
        const qrData = `${this.liffURL}/${appSetting.liffAppId}/?liff.state=${liffState}`;

        let qrUrl = await QRCode.toDataURL(qrData);

        this.addEditEmployee = employee;
        this.employeeQRCode = qrUrl;
        this.$store.dispatch("ApplicationIsLoading", false);
        this.QRCodeHeadText = `QR Code ของ ${employee.firstName} ${employee.lastName}`;
        this.qrCodeDialog = true;
      });
    },
    CloseQRCodeDialog() {
      this.qrCodeDialog = false;
      this.ResetAddEditEmployee();
    },
    async GetAllEmployee() {
      let res = await EmployeeService.GetAllEmployee();
      this.employee = res.staff;
    },
    async SaveEmployee() {
      await this.ErrorHandle(async () => {
        await EmployeeService.NewEmployee(this.addEditEmployee);
        await this.GetAllEmployee();
        this.$store.dispatch("ApplicationIsLoading", false);
        this.CloseAddEditDialog();
      });
    },
    OpenInActiveConfirmDialog(employee) {
      this.addEditEmployee = employee;
      this.inActiveConfirmText = `ยืนยันการลบข้อมูลของ ${employee.firstName} ${employee.lastName} หรือไม่`;
      this.inActiveConfirmDialog = true;
    },
    CloseInActiveConfirmDialog() {
      this.inActiveConfirmDialog = false;
      this.ResetAddEditEmployee();
    },
    async InActiveEmployee() {
      await this.ErrorHandle(async () => {
        await EmployeeService.InActiveEmployee(this.addEditEmployee);
        await this.GetAllEmployee();
        this.$store.dispatch("ApplicationIsLoading", false);
        this.CloseInActiveConfirmDialog();
      });
    },
  },
  async created() {
    this.ResetAddEditEmployee();
    await this.ErrorHandle(async () => {
      await this.GetAllEmployee();
      this.$store.dispatch("ApplicationIsLoading", false);
    });
  },
};
</script>
