<template>
  <v-container>
    <v-dialog v-model="hasWarnning" persistent width="500">
      <v-card>
        <v-card-title class="headline grey lighten-2">
          แจ้งเตือน
        </v-card-title>

        <v-card-text>
          {{ warnningMessage }}
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            text
            :loading="loading"
            :disabled="loading"
            @click="hasWarnning = false"
          >
            ปิด
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-card>
      <v-toolbar flat>
        <v-toolbar-title>Reference History</v-toolbar-title>

        <v-spacer></v-spacer>
      </v-toolbar>
      <v-card-text>
        <v-row>
          <v-col cols="4">
            <v-autocomplete
              v-model="monthSelected"
              :items="months"
              dense
              label="เลือกเดือน"
              solo
              :loading="loading"
              :disabled="loading"
            ></v-autocomplete>
          </v-col>
          <v-col cols="4">
            <v-autocomplete
              v-model="yearSelected"
              :items="years"
              dense
              label="เลือกปี"
              solo
              :loading="loading"
              :disabled="loading"
            ></v-autocomplete>
          </v-col>
          <v-col cols="4">
            <v-btn
              color="primary"
              :loading="loading"
              :disabled="loading"
              @click="Search()"
            >
              ค้นหา
            </v-btn>
          </v-col>
        </v-row>

        <v-card>
          <v-toolbar flat dense height="2">
            <template v-slot:extension>
              <v-tabs v-model="tab" align-with-title>
                <v-tabs-slider></v-tabs-slider>

                <v-tab key="Lastest Added">
                  Lastest Added
                </v-tab>
                <v-tab key="Top Score">
                  Top Score
                </v-tab>
              </v-tabs>
            </template>
          </v-toolbar>

          <v-tabs-items v-model="tab">
            <v-tab-item key="Lastest Added">
              <v-card flat>
                <v-card-text class="d-flex justify-center">
                  <v-simple-table style="min-width: 300px;">
                    <template v-slot:default>
                      <thead>
                        <tr>
                          <th class="text-center">
                            เวลา
                          </th>
                          <th class="text-center">
                            Customer Line ID
                          </th>
                          <th class="text-center">
                            Sales
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="item in customers" :key="item.id">
                          <td
                            v-if="item.dateText"
                            colspan="3"
                            class="text-center"
                          >
                            {{ item.dateText }}
                          </td>
                          <td v-if="!item.dateText">
                            {{ item.momentDate.utc(0).format("HH:mm") }}
                          </td>
                          <td v-if="!item.dateText">{{ item.lineName }}</td>
                          <td v-if="!item.dateText" class="text-center">
                            {{
                              `${item.staff.firstName} ${item.staff.lastName}`
                            }}
                          </td>
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>
                </v-card-text>
              </v-card>
            </v-tab-item>

            <v-tab-item key="Top Score">
              <v-card flat>
                <v-card-text class="d-flex justify-center">
                  <v-simple-table style="min-width: 300px;">
                    <template v-slot:default>
                      <thead>
                        <tr>
                          <th class="text-center">
                            อันดับ
                          </th>
                          <th class="text-center">
                            Sale
                          </th>
                          <th class="text-center">
                            จำนวน
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(item, index) in staffs" :key="item.id">
                          <td class="text-right">{{ index + 1 }}</td>
                          <td>{{ `${item.firstName} ${item.lastName}` }}</td>
                          <td class="text-right">{{ item.count }}</td>
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>
                </v-card-text>
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </v-card>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<style scoped>
.v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
.v-data-table > .v-data-table__wrapper > table > tfoot > tr > td,
.v-data-table > .v-data-table__wrapper > table > thead > tr > td {
  /* font-size: .875rem;
  height: 48px; */
  font-size: 0.675rem !important;
  height: 28px !important;
}
</style>

<script>
import CustomerService from "@/services/customer";
import moment from "moment";

export default {
  name: "ReferenceHistory",
  data: () => ({
    hasWarnning: false,
    warnningMessage: "",
    months: [
      {
        text: "เลือกทั้งหมด",
        value: 0,
      },
      {
        text: "มกราคม",
        value: 1,
      },
      {
        text: "กุมภาพันธ์",
        value: 2,
      },
      {
        text: "มีนาคม",
        value: 3,
      },
      {
        text: "เมษายน",
        value: 4,
      },
      {
        text: "พฤษภาคม",
        value: 5,
      },
      {
        text: "มิถุนายน",
        value: 6,
      },
      {
        text: "กรกฎาคม",
        value: 7,
      },
      {
        text: "สิงหาคม",
        value: 8,
      },
      {
        text: "กันยายน",
        value: 9,
      },
      {
        text: "ตุลาคม",
        value: 10,
      },
      {
        text: "พฤศจิกายน",
        value: 11,
      },
      {
        text: "ธันวาคม",
        value: 12,
      },
    ],
    years: [
      {
        text: "เลือกทั้งหมด",
        value: 0,
      },
    ],
    monthSelected: "",
    yearSelected: "",
    tab: "Lastest Added",
    customers: [],
    staffs: [],
  }),
  computed: {
    loading() {
      return this.$store.state.globalLoading;
    },
  },
  methods: {
    async ErrorHandle(mainProcess) {
      this.$store.dispatch("ApplicationIsLoading", true);
      try {
        await mainProcess();
      } catch (err) {
        let resMessage = err.response.data;
        this.warnningMessage = resMessage;
        this.hasWarnning = true;
        this.$store.dispatch("ApplicationIsLoading", false);
      }
    },
    SetYears() {
      let currentYear = new Date().getFullYear();
      this.years.push({
        text: currentYear,
        value: currentYear,
      });

      for (let i = 1; i < 4; i++) {
        let oldYear = currentYear - i;
        this.years.push({
          text: oldYear,
          value: oldYear,
        });
      }
    },
    async Search() {
      await this.ErrorHandle(async () => {
        let res = await CustomerService.GetSummaryReport(
          this.monthSelected,
          this.yearSelected
        );

        this.customers = res.response.customers;
        this.staffs = res.response.staff;

        let beforeDate = moment().startOf("day");

        for (let i = 0; i < this.customers.length; i++) {
          this.customers[i].momentDate = moment(this.customers[i].created);
          let dateDivider = moment(this.customers[i].created)
            .utc(0)
            .startOf("day");

          if (dateDivider.diff(beforeDate, "days") != 0 || i == 0) {
            beforeDate = dateDivider;
            this.customers.splice(i, 0, {
              id: this.UUIDv4(),
              dateText: dateDivider.format("DD/MMM/YYYY"),
            });
            i++;
          }
        }

        this.$store.dispatch("ApplicationIsLoading", false);
      });
    },
    UUIDv4() {
      return "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(/[xy]/g, function(
        c
      ) {
        var r = (Math.random() * 16) | 0,
          v = c == "x" ? r : (r & 0x3) | 0x8;
        return v.toString(16);
      });
    },
  },
  async created() {
    this.SetYears();
    this.monthSelected = new Date().getMonth() + 1;
    this.yearSelected = new Date().getFullYear();
    this.Search();
  },
};
</script>
