<template>
  <v-app id="inspire">
    <v-app-bar dark absolute>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-spacer />

      <!-- <v-btn icon :loading="loading" :disabled="loading" @click="SignOut()">
        <v-icon>mdi-power</v-icon>
      </v-btn> -->
    </v-app-bar>

    <v-navigation-drawer
      v-model="drawer"
      app
      class="pt-4"
      color="grey lighten-3"
      mini-variant
      expand-on-hover
    >
      <v-list dense nav>
        <v-list-item
          v-for="menu in menus"
          :key="menu.title"
          link
          @click="$router.push({ name: menu.routeName })"
        >
          <v-list-item-icon>
            <v-icon>{{ menu.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ menu.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main class="pt-16">
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "Dashboard",
  data: () => ({
    drawer: false,
    menuIsOpen: false,
    menus: [
      {
        title: "Reference History",
        icon: "mdi-history",
        routeName: "ReferenceHistory",
      },
      {
        title: "รายชื่อพนักงาน",
        icon: "mdi-clipboard-list-outline",
        routeName: "ManageEmployee",
      },
      {
        title: "Real Time Monitor",
        icon: "mdi-monitor",
        routeName: "RealTimeMonitor",
      },
    ],
  }),
  computed: {
    loading() {
      return this.$store.state.globalLoading;
    },
  },
  methods: {
    async SignOut() {
      await this.$store.dispatch("auth/signOut");
      this.$router.push({ name: "403" });
    },
  },
};
</script>
