<template>
  <fullscreen :fullscreen.sync="fullscreen" teleport>
    <v-app>
      <v-main style="background-color: #272727; color: #FFFFFF;">
        <v-container fluid class="pa-0">
          <v-dialog v-model="hasWarnning" persistent width="500">
            <v-card>
              <v-card-title class="headline grey lighten-2">
                แจ้งเตือน
              </v-card-title>

              <v-card-text>
                {{ warnningMessage }}
              </v-card-text>

              <v-divider></v-divider>

              <v-card-actions>
                <v-spacer />
                <v-btn
                  color="primary"
                  text
                  :loading="loading"
                  :disabled="loading"
                  @click="hasWarnning = false"
                >
                  ปิด
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <v-card dark style="width: 100%;">
            <div
              class="v-card__title justify-space-between realtime-backgroup-color realtime-card-title pt-2 pb-2"
            >
              <v-btn
                icon
                @click="FullScreenToggle()"
                style="visibility: hidden;"
              >
                <v-icon dark>
                  {{ fullscreen ? "mdi-fullscreen-exit" : "mdi-fullscreen" }}
                </v-icon>
              </v-btn>
              <div>Lastest Added</div>
              <v-btn icon @click="FullScreenToggle()">
                <v-icon dark>
                  {{ fullscreen ? "mdi-fullscreen-exit" : "mdi-fullscreen" }}
                </v-icon>
              </v-btn>
            </div>
            <!-- <v-card-title
              class="justify-center realtime-backgroup-color realtime-card-title"
            >
              Lastest Added
            </v-card-title> -->
            <v-card-text class="d-flex justify-center pa-0">
              <v-simple-table dark style="width: 100%; ">
                <template v-slot:default>
                  <thead>
                    <tr class="realtime-backgroup-color">
                      <th class="text-center" style="width: 68px;">
                        เวลา
                      </th>
                      <th class="text-center">
                        Customer Line ID
                      </th>
                      <th class="text-center">
                        Sales
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item in customers" :key="item.id">
                      <td
                        v-if="item.dateText"
                        colspan="3"
                        class="text-center realtime-date-font-color"
                      >
                        {{ item.dateText }}
                      </td>
                      <td v-if="!item.dateText" class="text-center">
                        {{ item.momentDate.utc(0).format("HH:mm") }}
                      </td>
                      <td v-if="!item.dateText" class="text-center">
                        {{ item.lineName }}
                      </td>
                      <td v-if="!item.dateText" class="text-center">
                        {{ `${item.staff.firstName} ${item.staff.lastName}` }}
                      </td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-card-text>
          </v-card>
        </v-container>
      </v-main>
      <v-footer
        app
        padless
        dark
        class="d-flex justify-center"
        style="min-height: 180px;"
      >
        <v-card dark style="width: 100%;">
          <v-card-title
            class="justify-center realtime-backgroup-color realtime-card-title pt-1"
          >
            Top Score
          </v-card-title>
          <v-card-subtitle
            class="d-flex justify-center realtime-backgroup-color realtime-card-sub-title pb-1"
          >
            of the month
          </v-card-subtitle>
          <v-card-text class="d-flex justify-center">
            <v-simple-table dark>
              <template v-slot:default>
                <tbody>
                  <tr v-for="item in staffs" :key="item.id">
                    <td>
                      {{ `${item.firstName} ${item.lastName}` }}
                    </td>
                    <td class="text-right">
                      {{ item.count }}
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card-text>
        </v-card>
      </v-footer>
    </v-app>
  </fullscreen>
</template>

<style scoped>
.realtime-backgroup-color {
  background-color: #6e6e6e;
}

.realtime-date-font-color {
  color: #a3a3a3;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > th,
.v-data-table > .v-data-table__wrapper > table > tfoot > tr > th,
.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  /* font-size: 0.75rem; */
  height: 38px;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
.v-data-table > .v-data-table__wrapper > table > tfoot > tr > td,
.v-data-table > .v-data-table__wrapper > table > thead > tr > td {
  /* font-size: 0.675rem !important; */
  height: 38px !important;
}

@media only screen and (min-width: 0px) and (max-width: 1024px) {
  .realtime-card-title {
    font-size: 1.05em !important;
    line-height: 1.8rem !important;
  }

  .realtime-card-sub-title {
    font-size: 0.75rem !important;
    line-height: 1.175rem !important;
  }

  .v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
  .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td,
  .v-data-table > .v-data-table__wrapper > table > thead > tr > td {
    font-size: 0.555rem !important;
    height: 18px !important;
  }

  .v-data-table > .v-data-table__wrapper > table > tbody > tr > th,
  .v-data-table > .v-data-table__wrapper > table > tfoot > tr > th,
  .v-data-table > .v-data-table__wrapper > table > thead > tr > th {
    font-size: 0.675rem;
    height: 28px;
  }

  /* .realtime-table-th {
    font-size: 0.5rem !important;
    line-height: 0.6rem !important;
  } */

  /* .realtime-table-td {
    font-size: 0.5rem !important;
    height: 10px !important;
    line-height: 0.6rem !important;
  } */
}

/* Full HD and 2K */
/* @media only screen and (min-width: 1080px) and (max-width: 2159px) and (min-height: 1920px) and (max-height: 4095px) {
  .realtime-card-title {
    font-size: 3.25em !important;
    line-height: 6rem !important;
  }

  .realtime-card-sub-title {
    font-size: 2.3em;
    line-height: 2.5rem;
  }

  .realtime-table-th {
    font-size: 2.3rem !important;
    line-height: 6rem !important;
  }

  .realtime-table-td {
    font-size: 2.875em !important;
    line-height: 6rem !important;
  }
} */

/* 4K */
/* @media only screen and (min-width: 2160px) and (min-height: 4096px) {
  .realtime-card-title {
    font-size: 6.5em !important;
    line-height: 12rem !important;
  }

  .realtime-card-sub-title {
    font-size: 4.6em !important;
    line-height: 5rem !important;
  }

  .realtime-table-th {
    font-size: 4.6rem !important;
    line-height: 12rem !important;
  }

  .realtime-table-td {
    font-size: 5.74em !important;
    line-height: 12rem !important;
  }
} */
</style>

<script>
import CustomerService from "@/services/customer";
import moment from "moment";
import { component } from "vue-fullscreen";

export default {
  components: {
    fullscreen: component,
  },
  name: "RealTimeMonitor",
  data: () => ({
    hasWarnning: false,
    warnningMessage: "",
    cardTitleStyle: "",
    customers: [],
    staffs: [],
    interval: null,
    topScoreRowNum: 0,
    lastAddRowNum: 0,
    fullscreen: false,
  }),
  computed: {
    loading() {
      return this.$store.state.globalLoading;
    },
  },
  methods: {
    async ErrorHandle(mainProcess) {
      this.$store.dispatch("ApplicationIsLoading", true);
      try {
        await mainProcess();
      } catch (err) {
        let resMessage = err.response.data;
        this.warnningMessage = resMessage;
        this.hasWarnning = true;
        this.$store.dispatch("ApplicationIsLoading", false);
      }
    },
    async GetSummaryData() {
      await this.ErrorHandle(async () => {
        let res = await CustomerService.GetSummaryCurrentMonth(
          this.lastAddRowNum,
          this.topScoreRowNum
        );

        this.customers = res.response.customers;
        this.staffs = res.response.staff;

        let beforeDate = moment().startOf("day");

        for (let i = 0; i < this.customers.length; i++) {
          this.customers[i].momentDate = moment(this.customers[i].created);
          let dateDivider = moment(this.customers[i].created)
            .utc(0)
            .startOf("day");

          if (dateDivider.diff(beforeDate, "days") != 0 || i == 0) {
            beforeDate = dateDivider;
            this.customers.splice(i, 0, {
              id: this.UUIDv4(),
              dateText: dateDivider.format("DD/MMM/YYYY"),
            });
            i++;
          }
        }

        this.$store.dispatch("ApplicationIsLoading", false);
      });
    },
    async Setinterval() {
      await this.GetSummaryData();

      this.interval = setInterval(
        this.GetSummaryData,
        5000 // 1000 milliseconds = 1 seconds
      );
    },
    UUIDv4() {
      return "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(/[xy]/g, function(
        c
      ) {
        var r = (Math.random() * 16) | 0,
          v = c == "x" ? r : (r & 0x3) | 0x8;
        return v.toString(16);
      });
    },
    FullScreenToggle() {
      this.fullscreen = !this.fullscreen;
    },
  },
  created() {
    this.lastAddRowNum = 20;
    this.topScoreRowNum = 10;
    // this.lastAddRowNum = this.$isMobile() ? 10 : 20;
    // this.topScoreRowNum = this.$isMobile()
    //   ? 3
    //   : window.screen.height > 1080
    //   ? 20
    //   : 8;
    // await this.GetSummaryData();
    this.Setinterval();
  },
  beforeDestroy() {
    clearInterval(this.interval);
  },
};
</script>
